.creation-form {
  position: relative;
  max-width: 400px;
  margin: auto;
  background: rgb(242, 242, 242);
  padding: 20px;
  box-shadow: 0 3px 5px 2px rgb(220, 220, 220);
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
}

.creation-form > h1 {
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(200,200,200);
}

.creation-form > .status {
  display: block;
  margin: -11px 0 10px 130px;
  border-radius: 0 0 3px 3px;
  box-sizing: border-box;
  animation: fade 0.25s linear;
  color: red;
  font-weight: 600;
  font-size: 0.75em;
}

.creation-form > .creation-status {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 440px;
  padding: 6px;
  border-radius: 0 0 3px 3px;
  text-align:center;
  box-sizing: border-box;
  animation: fade 0.25s linear;
}

.creation-form > .success {
  background-color: rgb(0, 166, 237);
  color: white;
}


.creation-form > .photo-container {
  position: relative;
  width: 100%;
  height: 180px;
  margin: 25px auto;
  font-size: 0.9em;
}

.creation-form > .photo-container > .photo {
  display: block;
  position: relative;
  width: 175px;
  height: 175px;
  margin: auto;
  border-radius: 50%;
  background: rgb(220,220,220);
}

.creation-form > .photo-container > .photo > .add-photo {
  position: absolute;
  top: 65px;
  left: 46px;
  width: 80px;
  font-size: 1.5em;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  color: rgb(180,180,180);
}

.creation-form > .photo-container > .photo > .add-photo:hover {
  color: rgb(0, 166, 237);
}

.creation-form > .field {
  max-width: 350px;
  height: 25px;
  margin: 0 auto 15px auto ;
}

.creation-form > .field > span {
  float: left;
  padding-top: 5px;
  font-size: 0.95em;
}

.creation-form > .field > input {
  display: block;
  width: calc(100% - 112px);
  margin-left: 100px;
  padding: 3px 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  font-size: 0.9em;
}

.creation-form > .field > .flag {
  border: 1px solid red;
}

.creation-form > .buttons {
  width: 225px;
  margin: 15px auto 5px auto;
}

.creation-form > .buttons > button {
  width: 100px;
  padding: 7px;
  border: none;
  border-radius: 3px;
  font-size: 0.85em;
  cursor: pointer;
  outline: none;
}

.creation-form > .buttons > button:active {
  opacity: 0.8;
}

.creation-form > .buttons > .clear {
  margin-right: 25px;
  background: rgb(200, 200, 200);
}

.creation-form > .buttons > .create {
  background: rgb(0, 166, 237);
  color: white;
}

@media(min-width: 768px) {
  .creation-form {
    padding: 35px 20px;
  }
}