/*=====MODAL STYLING=====*/
.modal {
   display: none;
   position: fixed;
   z-index: 5;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0,0,0,0.4);
   font-family: 'Open Sans', sans-serif;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
   position: relative;
   background-color: #fefefe;
   margin: 13% auto;
   padding: 25px;
   border: 1px solid #888;
   border-radius: 5px;
   width: 400px;
}

.close {
    position: absolute;
    right: 12px;
    top: 12px;
   color: black;
   float: right;
   font-size: 2em;
   line-height: 15px;
}

.close:hover,
.close:focus {
    color: rgba(255, 0, 0, 0.7);;
    text-decoration: none;
    cursor: pointer;
}


/*=====FIELDS WITHIN MODAL=====*/
#editTeacherModal > .modal-content > .field {
    width: 310px;
    min-height: 40px;
}

#editTeacherModal > .modal-content > .field > span {
    float: left;
    padding-top: 5px;
    font-size: 0.9em;
}

#editTeacherModal > .modal-content > .field > input {
    display: block;
    width: 200px;
    margin-left: 100px;
    padding: 3px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    font-size: 0.9em;
}

#editTeacherModal > .modal-content > .photo {
    width: 310px;
    margin-bottom: 20px;
    font-size: 0.9em;
}

#editTeacherModal > .modal-content > .photo > span {
    float: left;
    padding-top: 8px;
}

#editTeacherModal > .modal-content > .photo > span {
    float: left;
    padding-top: 8px;
}

#editTeacherModal > .modal-content > .photo > .add-photo {
    display: block;
    margin: 8px 0 0 100px;
}


/*=====TEACHER PHOTO WITHIN MODAL=====*/
.edit-teacher-image-container {
    position: relative;
    width: 175px;
    margin: 10px 0 0 100px;
}

.edit-teacher-image-container > .teacher-photo {
    width: 175px;
}

.edit-teacher-image-container > .remove-photo {
    position:absolute;
    top: 0;
    right: 0;
    padding: 5px;
    color: rgba(255,255,255);
    background: rgba(0,0,0,0.7);
    font-size: 3.25em;
    line-height: 15px;
    cursor: pointer;
}


/*=====SAVE/CANCEL BUTTONS WITHIN MODAL=====*/
#editTeacherModal > .modal-content > .buttons {
    width: 200px;
    margin: 15px 0 0 auto;
 }

#editTeacherModal > .modal-content > .buttons > button {
    width: 80px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-size: 0.85em;
    outline: none;
}

#editTeacherModal > .modal-content > .buttons > button:active {
    opacity: 0.7;
}

 #editTeacherModal > .modal-content > .buttons > .cancel{
    margin-right: 15px;
    background-color: rgb(200, 200, 200);
 }
 
 #editTeacherModal > .modal-content > .buttons > .save{
    background-color: rgb(81, 249, 81);
 }
 

/*=====DIV FOR CONTROLLING TEACHER TABLE OVERFLOW=====*/
.teachers-overflow {
   min-width: 100%;
   overflow-x: auto;
}

/*=====TEACHERS TABLE=====*/
.teachers-table {
   width: 100%;
   font-size: 0.85em;
   border-collapse: separate;
   font-family: 'Open Sans', sans-serif;
}

.teachers-table > thead > tr {
  background-color: #454545;
  color: white;
}

.teachers-table > thead > tr > th {
   min-width: 105px;
   padding: 10px 15px 10px 10px;
   text-align: left;
   font-weight: 600;
   font-size: 1.05em;
}

.teachers-table > thead > tr > th:nth-child(5) {
  min-width: 60px;
}

.teachers-table > thead > tr > th:first-of-type {
  padding: 10px 15px 10px 20px;
  border-radius: 5px 0 0 0;
  border: 0px solid;
}

.teachers-table > thead > tr > th:last-of-type {
  padding: 10px 20px 10px 10px;
  border-radius: 0 5px 0 0 ;
  border: 0px solid;
}

/*===== CONTROLLING COLUMN WIDTH =====*/
.teachers-table > thead > tr > th:nth-child(4) {
   min-width: 175px;
}

.teachers-table > thead > tr > th:nth-child(6) {
   min-width: 50px;
}

.teachers-table > tbody > tr {
   background-color: #FAFAFA;
}

.teachers-table > tbody > tr:nth-child(2n + 2) {
   background-color: rgb(235, 235, 235);
}

.teachers-table > tbody > tr:hover {
  background-color: rgb(215, 215, 215);
}

.teachers-table > tbody > tr > td {
   padding: 8px 5px 8px 12px;
}

.teachers-table > tbody > tr > td:first-of-type {
  padding: 8px 5px 8px 20px;
}

.teachers-table > tbody > tr > td:last-of-type {
  padding: 8px 20px 8px 10px;
}

.teachers-table > tbody > tr > td > .edit-button {
    padding: 3px 12px;
    border: none;
    border-radius: 3px;
    background-color: rgb(200, 200, 200);
    font-size: 0.9em;
    outline: none;
 }

 .teachers-table > tbody > tr > td > .edit-button:hover {
  background-color: rgb(0, 166, 237);
  color: white;
}

 .teachers-table > tbody > tr > td > .edit-button:active {
    opacity: 0.6;
 }