/*=====MODAL STYLING=====*/
.modal {
   display: none;
   position: fixed;
   z-index: 5;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0,0,0,0.4);
}

.modal-content {
   position: relative;
   background-color: #fefefe;
   margin: 15% auto;
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
}

.close {
   color: black;
   float: right;
   font-size: 2em;
   font-weight: bold;
   line-height: 15px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#editTeacherModal > .modal-content > .buttons {
   width: 150px;
   position: absolute;
   right: 0;
   bottom: 20px;
}

#editTeacherModal > .modal-content > .buttons > .cancel{
   
}

#editTeacherModal > .modal-content > .buttons > .save{
   background-color: #7EFF7E;
}












.teachers-overflow {
   min-width: 100%;
   overflow-x: auto;
}

.teachers-table {
   width: 100%;
   font-size: 0.9em;
}

.teachers-table > thead > tr {
   background-color: #BEBEBE;
}

.teachers-table > thead > tr > th {
   min-width: 120px;
   padding: 5px 15px 5px 5px;
   text-align: left;
   font-weight: 600;
   font-size: 1.05em;
}

/*===== CONTROLLING COLUMN WIDTH =====*/
.teachers-table > thead > tr > th:nth-child(4) {
   min-width: 175px;
}

.teachers-table > thead > tr > th:nth-child(6) {
   min-width: 50px;
}



.teachers-table > tbody > tr {
   background-color: #F5F5F5;
}

.teachers-table > tbody > tr:nth-child(2n + 2) {
   background-color: #DCDCDC;
}

.teachers-table > tbody > tr > td{
   padding: 5px 15px 5px 5px;
}