/* STUDENT ACCOUNT CONTAINER */
.student-account{
    height:calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    box-sizing: border-box;
}
@media(min-width:1024px){
    .student-account{
        flex-direction: row;
        justify-content: space-around;
    }
}