/* COURSE */
.course-container > .left-column{
    display: none;
}
.course-title{
    margin-top:20px;
    border-bottom: 1px solid #7d7d7d;
}
.assignment-list{
    padding-bottom:8px
}

@media(min-width: 1024px) {
  .course-container {
    display: flex;
    margin: -33px -60px -100px -60px;
  }

  .course-container > .left-column{
    display:block;
    width: 25%;
    padding: 25px;
    background: rgb(220, 220, 220);
  }

  .course-container > .right-column{
    width: 70%;
    padding: 25px;
  }
}

/* COURSE ASSIGNMENTS */
.table-container{
    display: flex;
    flex-direction: column;
    flex-flow: row warp;
    justify-content: space-around
}
.align-assign{
    flex: 1;
    justify-content: center;
}
.check-total{
    padding:10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.table-width{
    min-width: 50% !important;
}

@media(min-width:1024px){
    .table-container{
        flex-direction: row;
        justify-content: space-around;
    }
}

/* COURSE ASSIGNMENTS */
.course > .left-column {
  width: 30% !important;
}

.space {
  margin-top: 70px;
}